/* variaveis de cores */

:root {
    --cor-primaria: #0a243e;
    --cor-texto: #333;
    --cor-clara: #f9f9f9;

}
/* reset layout navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
}

.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
}
